{% extends 'base.html' %}

{% block content %}
<div class="large-12 columns">
    <h3>What is this?</h3>
    <p>
        SQLButler.com is an online SQL statement assistant that will generate a CREATE and INSERT statement from any table.
    </p>
    <h3>Why would anyone use this?</h3>
    <p>
        While studying up on SQL for a technical interview, I found myself spending significantly more time creating and populating practice tables than actually learning how to JOIN and SELECT data (what the actual interviewers cared about). 
        <br>
        <Br>   
        s to generate tables so that you can spend more time practicing and less time doing data entry... and improve your SQL!     
    </p>
    <h3>How do I use this?</h3>
    <p>
        Boot up your favorite instance of SQL (e.g., mysql), create a practice DB, and use these 
        
        Copy and paste any tables you find on SQL interview prep blogs, forums, or tables you create in Excel, and paste them in the input field to generate SQL statements to generate CREATE and INSERT statements.
    </p>
    <h3>Why is everything a varchar(150)?</h3>
    <p>
        Edit your own damn data types. Just kidding, I figured if you're using this to practice joining tables, the data types don't <i>really</i> matter. Plus, the create statement isn't the really tedious command, it's the insert statements that suck. And from a UI perspective, I didn't want to bog down the input area with an array of drop downs (pretty good excuses, right?).
    </p>
    <h3>Got a question or suggestion?</h3>
    <p>
        Email: <a href="mailto:faq@sqlbutler.com">faq@sqlbutler.com</a>
    </p>
</div>
{% endblock %}