{% extends 'base.html' %}

{% block content %}
<div class="large-12 columns">
    <h3>What is this?</h3>
    <p>
        While studying SQL for a technical interview, I found myself spending substantially more time creating and populating tables than actually learning how to JOIN and SELECT data (what I should have been learning). 
        <br>
        SQL Butler will take any table and generate the appropriate CREATE and INSERT statements to execute in mysql.
    </p>
    <h3>How do I use this?</h3>
    <p>
        Find tables on SQL interview prep blogs, tables, create your own in Excel, and paste them in to generate sql statements to create your own tables.
    </p>
    <h3>Why is everything a varchar(150)?</h3>
    <p>
        Edit your own damn data types. Just kidding, I figured if you're using this to practice joining tables, the data types don't really matter that much. Plus, the create statement isn't that bad, it's the insert statements that suck. Plus, I didn't want to bog down the interface with an array of drop downs (pretty good excuse, right?).
    </p>
    <h3>Got a question or suggestion?</h3>
    <p>
        Email: <a href="mailto:faq@sqlbutler.com">faq@sqlbutler.com</a>
    </p>
</div>
{% endblock %}