{% extends 'base.html' %}
 
{% block content1 %}
    <h2>Enter Text</h2>
    <section class="input-form">
        <form action="/results/" method="POST">
            {% csrf_token %}

            <textarea name="text" rows="20" cols="60">{{ text }}</textarea>
            <br>
            <!-- <input id="textform" type="text" name="text"><br> -->
            <div class="row">
                <div class="large-12 columns">
                    <center>
                        <input id="submit-button" class="secondary button" type="submit" value="Submit">
                    </center>
                </div>
            <div>
        </form>
    </section>
{% endblock %}

{% block content2 %}
    <h2>FAQ</h2>
    <div class="panel">
        Where am I?
    </div>
    <div>
        Essay Better - make your words more compelling, convincing, and impactful!
    </div>
<!--     <br>
    <div class="panel">
        What is this?
    </div>
    <div>
        A hybrid dictionary, thesaurus, an
    </div> -->
    <br>
    <div class="panel">
        How do I start?
    </div>
    <div>
        Paste an email, essay, tweet - or angry complaint to least favorite airline - in the text box to the left and hit submit!
    </div>
    <br>

{% endblock %}

